---
import * as example from '../examples/example.md'
import * as yaml from 'js-yaml'
import * as fsp from 'node:fs/promises'
import * as path from 'node:path'
import type {Model} from '../components/Model'
import {ModelList} from '../components/ModelList'
import {GitHubIcon} from '../components/icons'

export const prerender = true

interface Model {
  name: string
  sha: string
  tagAs: string
}

const {models} = yaml.load(await fsp.readFile(path.join(process.cwd(), '../models/models.yaml'), 'utf8')) as {
  models: Model[]
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>depot.ai</title>
    <style is:global>
      @media (prefers-reduced-motion: no-preference) {
        .animate-pulse-slow {
          @apply animate-pulse;
          animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
      }
    </style>
  </head>

  <body class="bg-radix-mauve-black text-radix-mauve12 pb-8 md:py-8">
    <div class="mx-auto max-w-3xl space-y-8 border border-radix-mauve6 rounded-xl p-6 md:p-8">
      <div
        class="flex flex-col items-center justify-between gap-4 leading-none border-b border-radix-mauve6 pb-8 md:items-baseline md:flex-row"
      >
        <h1 class="text-6xl font-bold">
          depot.<span class="bg-gradient-to-br from-radix-crimson9 to-radix-blue9 text-transparent bg-clip-text"
            >ai</span
          >
        </h1>

        <a href="https://depot.dev" class="flex gap-1 items-center">
          <span class="text-radix-mauve11">Powered by</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="inline-block w-4 h-4"
          >
            <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
          <span class="font-bold">Depot</span>
        </a>
      </div>

      <div class="text-lg text-radix-mauve12 border-b border-radix-mauve6 pb-8 text-center">
        A Docker registry for embedding machine learning models in your
        <code class="text-radix-amber11 text-sm bg-radix-amber3 p-1 rounded -m-1">Dockerfile</code>.
      </div>

      <div
        class="text-radix-mauve12 text-center font-medium border-b border-radix-mauve6 pb-8 grid grid-cols-2 px-4 md:px-8 md:grid-cols-4 gap-4"
      >
        <a href="#usage" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2">Usage</a>
        <a href="#models" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2">Model list</a>
        <a href="https://depot.dev/blog/depot-ai" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2"
          >About depot.ai</a
        >
        <a href="https://github.com/depot/depot.ai" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2"
          >Source Code</a
        >
      </div>

      <h2 id="usage" class="text-2xl font-semibold scroll-mt-8">Usage</h2>

      <div class="text-radix-mauve11">
        The registry serves model content from <a href="https://huggingface.co" class="text-radix-mauve12"
          >Hugging Face</a
        > as highly-optimized Docker images, which you can embed in your own container images with just a <code
          class="text-radix-amber11 text-sm bg-radix-amber3 p-1 rounded">COPY</code
        >.
      </div>

      <div class="bg-radix-mauve1 -mx-8 p-8 text-sm border-y border-radix-mauve4">
        <example.Content />
      </div>

      <div class="text-radix-mauve11 border-b border-radix-mauve6 pb-8 space-y-3">
        <p>
          Compared to alternatives like <code class="text-radix-amber11 text-sm bg-radix-amber3 p-1 rounded"
            >git lfs clone</code
          >, depot.ai images build faster, are cached between builds, and only store the model layer once in your
          registry, reducing storage and bandwidth.
        </p>

        <p>
          Each model image includes an <a
            href="https://github.com/containerd/stargz-snapshotter/blob/main/docs/estargz.md"
            class="text-radix-mauve12">eStargz index</a
          >, which allows Docker's BuildKit to download only the files copied from the model during the build. If you
          build images with <a href="https://github.com/depot/depot.ai#how-it-works" class="text-radix-mauve12">Depot</a
          >, this index is automatically used. Otherwise you will need to <a
            href="https://github.com/containerd/stargz-snapshotter/blob/main/docs/integration.md#image-builders"
            class="text-radix-mauve12">enable eStargz</a
          > in your image builder.
        </p>

        <p>
          <a href="https://github.com/depot/depot.ai#readme" class="text-radix-mauve12">More information &rarr;</a>
        </p>
      </div>

      <div id="models" class="flex items-center justify-between scroll-mt-8">
        <h2 class="text-2xl font-semibold">Models</h2>

        <div class="text-sm text-radix-mauve11 text-right">
          Missing a model?{' '}
          <a href="https://github.com/depot/depot.ai#add-a-model" class="text-radix-mauve12">Open a pull request!</a>
        </div>
      </div>

      <div>
        <ModelList models={models} client:idle />
      </div>
    </div>

    <div class="mx-auto mt-8 text-center">
      <a href="https://github.com/depot/depot.ai" class="text-radix-mauve11 flex items-center justify-center gap-2">
        <GitHubIcon className="inline-block w-4 h-4" /> <div>Source</div></a
      >
    </div>
  </body>
</html>
