---
import * as example from '../examples/example.md'
import * as yaml from 'js-yaml'
import * as fsp from 'node:fs/promises'
import * as path from 'node:path'
import type {Model} from '../components/Model'
import {ModelList} from '../components/ModelList'
import {GitHubIcon} from '../components/icons'

export const prerender = true

interface Model {
  name: string
  sha: string
  tagAs: string
}

const {models} = yaml.load(await fsp.readFile(path.join(process.cwd(), '../models/models.yaml'), 'utf8')) as {
  models: Model[]
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>depot.ai</title>
    <style is:global>
      @media (prefers-reduced-motion: no-preference) {
        .animate-pulse-slow {
          @apply animate-pulse;
          animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
      }

      @font-face {
        font-family: 'Red Hat Text Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 700;
        src: url(/fonts/red-hat-text-latin-ext-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
          U+2C60-2C7F, U+A720-A7FF;
      }

      @font-face {
        font-family: 'Red Hat Text Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 700;
        src: url(/fonts/red-hat-text-latin-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
          U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: 'Red Hat Display Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 900;
        src: url(/fonts/red-hat-display-latin-ext-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
          U+2C60-2C7F, U+A720-A7FF;
      }

      @font-face {
        font-family: 'Red Hat Display Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 900;
        src: url(/fonts/red-hat-display-latin-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
          U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: 'Red Hat Mono Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 700;
        src: url(/fonts/red-hat-mono-latin-ext-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
          U+2C60-2C7F, U+A720-A7FF;
      }

      @font-face {
        font-family: 'Red Hat Mono Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 700;
        src: url(/fonts/red-hat-mono-latin-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
          U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>

  <body class="bg-radix-mauve-black text-radix-mauve12 pb-8 md:py-8">
    <div class="mx-auto max-w-3xl space-y-8 border border-radix-mauve6 rounded-xl p-6 md:p-8">
      <div
        class="flex flex-col items-center justify-between gap-4 leading-none border-b border-radix-mauve6 pb-8 md:items-baseline md:flex-row"
      >
        <h1 class="text-6xl font-bold">
          depot.<span class="bg-gradient-to-br from-radix-crimson9 to-radix-blue9 text-transparent bg-clip-text"
            >ai</span
          >
        </h1>

        <a href="https://depot.dev" class="flex gap-1 items-center">
          <span class="text-radix-mauve11">Powered by</span>
          <svg width="256" height="64" viewBox="0 0 256 64" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block w-20 h-20">
            <path
              d="M93.152 51.192C90.464 51.192 88.0107 50.4453 85.792 48.952C83.5733 47.416 81.8027 45.3893 80.48 42.872C79.2 40.312 78.56 37.496 78.56 34.424C78.56 31.3093 79.2427 28.5147 80.608 26.04C81.9733 23.5227 83.808 21.5173 86.112 20.024C88.4587 18.5307 91.0613 17.784 93.92 17.784C95.6693 17.784 97.2907 18.1253 98.784 18.808C100.32 19.4907 101.643 20.472 102.752 21.752V5.432L113.12 3.832V51H102.88V46.712C101.813 48.0773 100.405 49.1653 98.656 49.976C96.9493 50.7867 95.1147 51.192 93.152 51.192ZM96.608 42.616C97.8453 42.616 98.976 42.4027 100 41.976C101.024 41.5067 101.941 40.8453 102.752 39.992V28.856C101.941 28.0027 101.003 27.3627 99.936 26.936C98.912 26.5093 97.8027 26.296 96.608 26.296C95.1147 26.296 93.7707 26.6587 92.576 27.384C91.3813 28.0667 90.4427 29.0267 89.76 30.264C89.0773 31.5013 88.736 32.9093 88.736 34.488C88.736 36.024 89.0773 37.4107 89.76 38.648C90.4427 39.8853 91.3813 40.8667 92.576 41.592C93.7707 42.2747 95.1147 42.616 96.608 42.616ZM133.893 51.64C130.65 51.64 127.706 50.8933 125.061 49.4C122.458 47.864 120.368 45.816 118.789 43.256C117.253 40.6533 116.485 37.752 116.485 34.552C116.485 31.3093 117.21 28.408 118.661 25.848C120.112 23.288 122.096 21.2613 124.613 19.768C127.13 18.232 129.968 17.464 133.125 17.464C136.325 17.464 139.141 18.2107 141.573 19.704C144.005 21.1973 145.904 23.2667 147.269 25.912C148.677 28.5147 149.381 31.5227 149.381 34.936V37.176H126.661C127.002 38.4133 127.536 39.5013 128.261 40.44C128.986 41.3787 129.882 42.104 130.949 42.616C132.016 43.128 133.168 43.384 134.405 43.384C135.77 43.384 137.008 43.1493 138.117 42.68C139.269 42.2107 140.208 41.528 140.933 40.632L147.781 46.328C145.648 48.2053 143.493 49.5707 141.317 50.424C139.141 51.2347 136.666 51.64 133.893 51.64ZM126.661 31.288H139.781C139.482 30.0933 139.013 29.0693 138.373 28.216C137.733 27.3627 136.965 26.7013 136.069 26.232C135.173 25.7627 134.17 25.528 133.061 25.528C131.994 25.528 131.013 25.7627 130.117 26.232C129.264 26.6587 128.538 27.2987 127.941 28.152C127.386 29.0053 126.96 30.0507 126.661 31.288ZM152.632 64.376V17.976H162.872V22.584C163.981 21.0907 165.389 19.9173 167.096 19.064C168.845 18.2107 170.701 17.784 172.664 17.784C175.395 17.784 177.848 18.552 180.024 20.088C182.243 21.5813 183.992 23.5867 185.272 26.104C186.595 28.6213 187.256 31.4373 187.256 34.552C187.256 37.624 186.573 40.4187 185.208 42.936C183.843 45.4533 181.987 47.4587 179.64 48.952C177.336 50.4453 174.755 51.192 171.896 51.192C170.104 51.192 168.44 50.872 166.904 50.232C165.411 49.5493 164.109 48.5893 163 47.352V64.376H152.632ZM169.208 42.68C170.744 42.68 172.088 42.3387 173.24 41.656C174.435 40.9307 175.373 39.9493 176.056 38.712C176.739 37.4747 177.08 36.0667 177.08 34.488C177.08 32.9093 176.739 31.5227 176.056 30.328C175.373 29.0907 174.435 28.1307 173.24 27.448C172.045 26.7227 170.701 26.36 169.208 26.36C167.928 26.36 166.776 26.5947 165.752 27.064C164.771 27.4907 163.853 28.152 163 29.048V40.056C163.811 40.8667 164.749 41.5067 165.816 41.976C166.883 42.4453 168.013 42.68 169.208 42.68ZM206.428 51.64C203.142 51.64 200.198 50.8933 197.596 49.4C194.993 47.9067 192.924 45.88 191.388 43.32C189.894 40.7173 189.148 37.7947 189.148 34.552C189.148 31.3093 189.894 28.408 191.388 25.848C192.924 23.2453 194.993 21.1973 197.596 19.704C200.198 18.2107 203.121 17.464 206.364 17.464C209.649 17.464 212.572 18.2107 215.132 19.704C217.734 21.1973 219.782 23.2453 221.276 25.848C222.812 28.408 223.58 31.3093 223.58 34.552C223.58 37.7947 222.812 40.7173 221.276 43.32C219.782 45.88 217.734 47.9067 215.132 49.4C212.572 50.8933 209.67 51.64 206.428 51.64ZM206.364 43C207.772 43 209.009 42.6373 210.076 41.912C211.142 41.1867 211.974 40.184 212.572 38.904C213.169 37.624 213.468 36.1733 213.468 34.552C213.468 32.888 213.169 31.4373 212.572 30.2C211.974 28.92 211.142 27.9173 210.076 27.192C209.009 26.4667 207.772 26.104 206.364 26.104C204.998 26.104 203.761 26.4667 202.652 27.192C201.585 27.9173 200.753 28.92 200.156 30.2C199.558 31.4373 199.26 32.888 199.26 34.552C199.26 36.1733 199.558 37.624 200.156 38.904C200.753 40.184 201.585 41.1867 202.652 41.912C203.761 42.6373 204.998 43 206.364 43ZM242.174 51.64C238.291 51.64 235.347 50.744 233.342 48.952C231.337 47.16 230.334 44.5147 230.334 41.016V25.976H223.934V17.976H230.334V8.824L240.702 6.712V17.976H249.534V25.976H240.702V38.968C240.702 40.4187 241.022 41.4427 241.662 42.04C242.345 42.6373 243.475 42.936 245.054 42.936C245.651 42.936 246.249 42.8933 246.846 42.808C247.443 42.7227 248.254 42.5307 249.278 42.232V50.616C248.339 50.9147 247.187 51.1493 245.822 51.32C244.457 51.5333 243.241 51.64 242.174 51.64Z"
              fill="#EEEEF0" />
            <path
              d="M0 10C0 4.47715 4.47715 0 10 0H16C17.1046 0 18 0.895431 18 2V10C18 11.1046 17.1046 12 16 12H2C0.89543 12 0 11.1046 0 10V10Z"
              fill="#EEEEF0" />
            <rect y="32" width="18" height="12" rx="2" fill="#EEEEF0" />
            <path
              d="M0 50C0 48.8954 0.895431 48 2 48H16C17.1046 48 18 48.8954 18 50V58C18 59.1046 17.1046 60 16 60H10C4.47715 60 0 55.5228 0 50V50Z"
              fill="#EEEEF0" />
            <rect x="22" y="48" width="20" height="12" rx="2" fill="#EEEEF0" />
            <path
              d="M46 50C46 48.8954 46.8954 48 48 48H62C63.1046 48 64 48.8954 64 50V50C64 55.5228 59.5228 60 54 60H48C46.8954 60 46 59.1046 46 58V50Z"
              fill="#EEEEF0" />
            <rect x="46" y="32" width="18" height="12" rx="2" fill="#EEEEF0" />
            <rect x="46" y="16" width="18" height="12" rx="2" fill="#EEEEF0" />
            <path
              d="M22 2C22 0.895431 22.8954 0 24 0H54C59.5228 0 64 4.47715 64 10V10C64 11.1046 63.1046 12 62 12H24C22.8954 12 22 11.1046 22 10V2Z"
              fill="#46A759" />
            <rect y="16" width="42" height="12" rx="2" fill="#46A759" />
            <rect x="22" y="32" width="20" height="12" rx="2" fill="#46A759" />
          </svg>
        </a>
      </div>

      <div class="text-lg text-radix-mauve12 border-b border-radix-mauve6 pb-8 text-center">
        A Docker registry for embedding machine learning models in your
        <code class="text-radix-amber11 text-sm bg-radix-amber3 p-1 rounded -m-1">Dockerfile</code>.
      </div>

      <div
        class="text-radix-mauve12 text-center font-medium border-b border-radix-mauve6 pb-8 grid grid-cols-2 px-4 md:px-8 md:grid-cols-4 gap-4"
      >
        <a href="#usage" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2">Usage</a>
        <a href="#models" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2">Model list</a>
        <a href="https://depot.dev/blog/depot-ai" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2"
          >About depot.ai</a
        >
        <a href="https://github.com/depot/depot.ai" class="border border-radix-mauve7 bg-radix-mauve3 rounded p-2"
          >Source Code</a
        >
      </div>

      <h2 id="usage" class="text-2xl font-semibold scroll-mt-8">Usage</h2>

      <div class="text-radix-mauve11">
        The registry serves model content from <a href="https://huggingface.co" class="text-radix-mauve12"
          >Hugging Face</a
        > as highly-optimized Docker images, which you can embed in your own container images with just a <code
          class="text-radix-amber11 text-sm bg-radix-amber3 p-1 rounded">COPY</code
        >.
      </div>

      <div class="bg-radix-mauve1 -mx-8 p-8 text-sm border-y border-radix-mauve4">
        <example.Content />
      </div>

      <div class="text-radix-mauve11 border-b border-radix-mauve6 pb-8 space-y-3">
        <p>
          Compared to alternatives like <code class="text-radix-amber11 text-sm bg-radix-amber3 p-1 rounded"
            >git lfs clone</code
          >, depot.ai images build faster, are cached between builds, and only store the model layer once in your
          registry, reducing storage and bandwidth.
        </p>

        <p>
          Each model image includes an <a
            href="https://github.com/containerd/stargz-snapshotter/blob/main/docs/estargz.md"
            class="text-radix-mauve12">eStargz index</a
          >, which allows Docker's BuildKit to download only the files copied from the model during the build. If you
          build images with <a href="https://github.com/depot/depot.ai#how-it-works" class="text-radix-mauve12">Depot</a
          >, this index is automatically used. Otherwise you will need to <a
            href="https://github.com/containerd/stargz-snapshotter/blob/main/docs/integration.md#image-builders"
            class="text-radix-mauve12">enable eStargz</a
          > in your image builder.
        </p>

        <p>
          <a href="https://github.com/depot/depot.ai#readme" class="text-radix-mauve12">More information &rarr;</a>
        </p>
      </div>

      <div id="models" class="flex items-center justify-between scroll-mt-8">
        <h2 class="text-2xl font-semibold">Models</h2>

        <div class="text-sm text-radix-mauve11 text-right">
          Missing a model?{' '}
          <a href="https://github.com/depot/depot.ai#add-a-model" class="text-radix-mauve12">Open a pull request!</a>
        </div>
      </div>

      <div>
        <ModelList models={models} client:idle />
      </div>
    </div>

    <div class="mx-auto mt-8 text-center text-radix-mauve11 flex gap-2 justify-center">
      <span>&copy; {new Date().getFullYear()} Depot Technologies Inc</span> &bull;
      <a href="https://github.com/depot/depot.ai" class="text-radix-mauve11 flex items-center justify-center gap-1">
        <GitHubIcon className="inline-block w-4 h-4" /> <div>Source</div></a
      >
    </div>
  </body>
</html>
