---
import * as example from '../examples/example.md'
import * as yaml from 'js-yaml'
import * as fsp from 'node:fs/promises'
import * as path from 'node:path'
export const prerender = true
interface Model {
  name: string
  sha: string
}
const {models} = yaml.load(await fsp.readFile(path.join(process.cwd(), '../models/models.yaml'), 'utf8')) as {
  models: Model[]
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>depot.ai</title>
  </head>

  <body class="bg-radix-mauve-black text-radix-mauve12">
    <div class="mx-auto my-16 max-w-3xl space-y-8 border border-radix-mauve6 rounded-xl p-8">
      <div class="flex items-baseline justify-between gap-4 leading-none border-b border-radix-mauve6 pb-8">
        <h1 class="text-6xl font-bold">depot.<span class="text-radix-grass11">ai</span></h1>

        <a href="https://depot.dev" class="flex gap-1 items-center">
          <span class="text-radix-mauve11">Powered by</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="inline-block w-4 h-4"
          >
            <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
          <span class="font-bold">Depot</span>
        </a>
      </div>

      <div class="text-lg text-radix-mauve12 border-b border-radix-mauve6 pb-8">
        Embed machine learning models in your
        <code class="text-radix-amber11 bg-radix-amber3 p-1 rounded -m-1">Dockerfile</code>.
      </div>

      <h2 class="text-2xl font-semibold">Usage</h2>

      <div class="bg-radix-mauve1 -mx-8 p-8 text-sm border-y border-radix-mauve4">
        <example.Content />
      </div>

      <div id="models" class="flex items-center justify-between">
        <h2 class="text-2xl font-semibold">Models</h2>

        <div class="text-sm text-radix-mauve11 text-right">
          Missing a model?{' '}
          <a href="https://github.com/depot/depot.ai#add-a-model" class="text-radix-mauve12">
            Open a PR!
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-4 flex-1">
        {
          models.map((model) => (
            <a
              href={`https://huggingface.co/${model.name}/tree/${model.sha}`}
              class="bg-radix-mauve1 border border-radix-mauve6 px-4 py-4 rounded-lg"
              target="_blank"
              rel="noreferrer"
            >
              <div class="tracking-tight">
                <span class="text-radix-mauve11">depot.ai/</span>
                {model.name}
                <span class="text-radix-mauve11">:latest</span>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </body>
</html>
